In [1]:
from atelier.persistence.io import IOService

In [2]:
filepath = "tests/testdata/operators/data_operators/ratings_user_random_sample_10pct.pkl"
ratings = IOService.read(filepath)
a = ratings[(ratings['userId'] == 36)]
b = ratings[(ratings['userId'] == 69)]
c = a[['userId','movieId']].merge(b[['userId','movieId']], on='movieId', how='inner')
items = c['movieId'].values
a[a['movieId'].isin(items)]
b[b['movieId'].isin(items)]

      userId  movieId  rating  timestamp
5101      36        1    5.00  857131378
5103      36       10    3.00  857131163
5111      36      110    5.00  834412999
5122      36      208    4.00  835095688
5127      36      260    5.00  857131062
5140      36      356    4.00  839928527
5143      36      364    3.00  839926172
5147      36      454    3.00  839929320
5152      36      480    4.00  840817431
5166      36      593    4.00  839928527
5174      36      648    3.00  857131205
5185      36     1073    3.00  857131590
5187      36     1136    4.00  867952278
5190      36     1196    5.00  857131774
5191      36     1198    4.00  857131815
5193      36     1210    5.00  858776192
5196      36     1291    5.00  857131845

      userId  movieId  rating   timestamp
8684      69        1    3.00  1242591173
8685      69       10    3.00  1242634111
8689      69      110    5.00  1242574662
8693      69      208    3.00  1242591541
8696      69      260    5.00  1242574652
8702      69      356    5.00  1242574626
8703      69      364    4.00  1242591400
8708      69      454    1.50  1242591659
8709      69      480    4.50  1242574642
8715      69      593    5.00  1242591842
8717      69      648    1.50  1242591391
8719      69     1073    4.00  1242634119
8722      69     1136    5.00  1242591655
8723      69     1196    5.00  1242577937
8724      69     1198    5.00  1242578032
8726      69     1210    5.00  1242577919
8732      69     1291    5.00  1242577923

In [3]:
DESTINATION = "tests/testdata/operators/data_operators/cooccurrence/user_ratings_ctr_10pct.pkl"
corating = IOService.read(DESTINATION)
corating[(36,69)]

[1, 10, 208]